<button class="popup__close" aria-label="Закрыть форму">
    <img 
      src="../../assets/icon/x.svg" 
      class="x-icon" 
      alt="exit icon"
      >
</button>
<p>Оставьте заявку</p>
<form novalidate>
<label>
    <input type="text" name="name" required placeholder="Введите имя" />
    <span class="form-error">Поле не заполнено</span>
</label>

<label>
    <input type="tel" name="phone" class="form-phone" required pattern="^\\+?\\d{1,15}$" maxlength="15" placeholder="+7XXXXXXXXXX" />
    <span class="form-error">Введите корректный номер (до 15 цифр)</span>
</label>

<div class="form-box-exit">
    <label class="checkbox-label">
        <input type="checkbox" name="agree" required />
        Я соглашаюсь на обработку персональных данных
    </label>

    <button type="submit" disabled>Отправить</button>
</div>

</form>