<div class="card-item-large">
  <div class="card-item-large__header">
  <p class="card-item-large__title"></p>
  <div class="card-item-large__icon">
    <img 
      src="../../../assets/icon/like.svg" 
      class="card-item-large__like-icon" 
      alt="Play icon"
      >
      <img 
        src="../../../assets/icon/eye.svg" 
        class="card-item-large__eye-icon" 
        alt="Play icon"
        >
  </div>
  </div>
  <div class="card-item-large__footer">
    <div class="card-item-large__stocks"></div>
    <div class="card-item-large__footer-right">
      <p class="card-item-large__price"></p>
    </div>
  </div>
</div>
