.card-item-large {
  width: 363px;
  height: 304px;
  color:#fff;
  border-radius: 5px;
  padding: 12px;
  background-repeat: no-repeat;    
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  @media (max-width: 360px) {
    width: 304px;
    height: 280px;
    position: relative;
  }

  &--small {
    height: 130px; 

    @media (max-width: 360px) {
    width: 304px;
    height: 151px;
  }
  }

  &__header{
    display: flex;
    justify-content: space-between;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    
    @media (max-width: 360px) {
      flex-direction: column;
      align-items: center;
      justify-self: start;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
  }

  &__icon{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &____like-icon,
  &__eye_icon {
    width: 19px;
    height: 19px;
    
  }

  &__content {
    margin: 10px 0;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__footer-right{
    display: flex;
    gap: 10px;
    align-items: flex-end; 

    @media (max-width: 360px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
  
  &__price{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1%;

    @media (max-width: 360px) {
      margin-bottom: 0;
    }
  }

  &__stocks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 360px) {
      flex-direction: row;
      gap: 3%;
      position: absolute;
      top: 43px;
      left: 12px;
    }
  }

  &__stocks> *:last-child {
    margin-bottom: 0;
  }

  &__bages{
    margin: 0 0 10px;
    padding: 4px 8px;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    max-width: 100%;
    word-wrap: break-word;
    white-space: nowrap;
  }
}
