<div class="card-item-vertical">
  <div class="card-item-vertical__header">
  <div class="card-item-vertical__stocks"></div>
  <div class="card-item-vertical__icon">
    <img 
      src="../../../assets/icon/like.svg" 
      class="card-item-vertical__like-icon" 
      alt="Play icon"
      >
      <img 
        src="../../../assets/icon/eye.svg" 
        class="card-item-vertical__eye-icon" 
        alt="Play icon"
        >
  </div>
  </div>
  <div class="card-item-vertical__footer">
    <p class="card-item-vertical__title"></p>
    <p class="card-item-vertical__price"></p>
  </div>
</div>
