.button-request {
  height: 32px;
  width: 142px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #18c576;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  @media (max-width: 700px) {
    width: 100%;
  }
}

.button-request:hover{
  background-color: #15ad69;
}